body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cards {
    border: 0;

}

.cards:hover {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 10px -6px #333;
    transform: scale(1.1);
    transition-duration: 0.9s;
    /*box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15)*/
}


.ppp {
    opacity: 50%;
}

* {
    box-sizing: border-box;
}

.zoom {
    padding: 50px;
    transition: transform .9s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(3);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active-tab {
    background-color: dodgerblue;
    color: white;
}

.active-tab:hover {
    background-color: aqua;
    color: white;
}

.default-tab {
    background-color: aliceblue;
    color: black;
}

.default-tab:hover {
    background-color: aqua;
    color: white;
}

.cabinet-layout-left {
    /*display: inline;*/
    background-color: aliceblue;
    color: black;
    width: 20% !important;
    height: 100% !important;
}

.cabinet-layout-right {
    /*display: inline;*/
    background-color: aliceblue;
    color: black;
    width: 80% !important;
    height: 100% !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    min-height: 100vh;
    background: #BBB474;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s;
}

section.active {
    background: #AF9F9C;
}

section .containers {
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

section .containers .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .containers .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    transition: 0.5s;
}

section .containers .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .containers .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

section .containers .user .formBx h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}

section .containers .user .formBx input {
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 300;
}

section .containers .user .formBx input[type="submit"] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-width: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}

section .containers .user.signupBx .formBx input[type="submit"] {
    background: #e73e49;
}

section .containers .user .formBx .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}

section .containers .user .formBx a {
    font-weight: 600;
    text-decoration: none;
    color: #577eff;

}

section .containers .signupBx {
    pointer-events: none;
}

section .containers.active .signupBx {
    pointer-events: initial;
}

section .containers .signupBx .formBx {
    top: 100%;
}

section .containers.active .signupBx .formBx {
    top: 0;
}

section .containers .signupBx .imgBx {
    top: -100%;
    transition: 0.5s;
}

section .containers.active .signupBx .imgBx {
    top: 0;
}


section .containers .signinBx {
    top: 0;
}

section .containers.active .signinBx .formBx {
    top: 100%;
}

section .containers .signinBx .imgBx {
    top: 0;
    transition: 0.5s;
}

section .containers.active .signinBx .imgBx {
    top: -100%;
}

@media (max-width: 991px) {
    section .containers {
        max-width: 400px;
    }

    section .containers .imgBx {
        display: none;
    }

    section .containers .user .formBx {
        width: 100%;
    }

    section .containers.active .signinBx .formBx {
        top: -100%
    }


    /* --------------------------------------- */
    .each-slide > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 350px;
    }

    .each-slide span {
        padding: 20px;
        font-size: 20px;
        background: #efefef;
        text-align: center;
    }

}


/* Bloq section style */
.blog {
    padding-top: 100px;
}

.blog-items {
    margin-top: 50px;
}

.blog-item
{
    cursor: pointer;
}

.blog-item:hover
{
    box-shadow: 0 10px 20px rgba(5, 54 ,77, .1);
}

.blog-item:hover .blog-item__info
{
    background-color: #FFFFFF;
}

.blog-item__image img
{
    width: 100%;
}

.blog-item__info
{
    background-color: #F8FAFF;
    padding: 30px;
    color: #797979;
}

.blog-item__main-info span
{
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}

.blog-item__info i
{
    margin-right: 5px;
}

.blog-item__title
{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #05364D;
    font-weight: 700;
}

.blog-item__description
{
    line-height: 27px;
    font-weight: lighter;
    font-size: 15px;
}

.blog-item__learn-more{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #05364d;
}

.blog-item__learn-more:hover
{
    color: #ed239f;
}

.linear
{
    display: inline-block;
    width: 100px;
    height: 5px;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
}
/* Blog section style */
