*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.logo{
    cursor: pointer;
    width: 100px;
}
.nav_links{
    list-style: none;
}
li{
    display: inline-block;
    padding: 0 20px;
}
li a{
    transition: all 0.3s ease 0s;
}
li a:hover{
    color: #0088a9;
}